<h1>*ngFor</h1>
<div>
  <div *ngFor="let product of products">
    <img width="250" [src]="product.image" alt="image">
    <h2>{{product.name}}</h2>
    <h2>{{product.price}}</h2>
    <h2>{{product.category}}</h2>

  </div>
</div>

<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName"/>
<button (click)="addName()">Add Name</button>
<ul>
    <li *ngIf="names.length === 0">There isn't names</li>
    <li *ngFor="let name of names; index as i">
      {{i+1}}{{" " +name}}
      <button (click)="deleteName(i)">Del</button>
    </li>
</ul>

<h1>*ngIF</h1>
<input type="text" required [(ngModel)]="person.name"/>
<p *ngIf="person.name==='Adolfo'">Eres el mejor de los mejores</p>
<p *ngIf="person.name==='Adolfo Chan' && person.age != 18; else myBlock">No rres el mejor de los mejores</p>
<ng-template #myBlock>
  <p>bloque Else</p>
</ng-template>
<hr/>


<h1>Eventos</h1>
<button (click)="toggleButton()">Hab/Deshab Acción</button>
<button (click)="increaseAge()">Age++</button>
<button [disabled]="btnDisabled">Acción</button>
<div class="box" (scroll)="onScroll($event)">
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum

</div>
<p>Nombre: {{person.name}}</p>
<input type="Text" required #nameInput="ngModel" [(ngModel)]="person.name"/>

<p>Valid: {{nameInput.valid}}</p>

<hr/>
<p>Edad: {{person.age}}</p>
<input type="number" min="18" max="65" required #ageInput="ngModel" [(ngModel)]="person.age"/>
<p>Valid: {{ageInput.valid}}</p>


<h1> Propertybiding</h1>
<button [disabled]="btnDisabled">Enviar</button>

<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar"/>
<hr/>

<h1> Hola Mundo</h1>
<h2>{{'Hola Mundo '.repeat(5)}}</h2>

<p>3 + 3 = {{3+3}}</p>
<h3>Hola Soy {{name}}  y tengo {{age}}</h3>
<img src={{image}} alt="image">

